<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDownloaderRe.default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BDownloaderRe.default>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="cookies" serializeAs="String">
                <value />
            </setting>
        </BDownloaderRe.default>
    </userSettings>
	<appSettings>
		<add key="path" value="请在此选择保存路径"/>
		<add key="cookies" value="请选择Cookies文件（用于下载大会员视频）"/>
		<add key="check" value="0"/>
		<add key="enableCookie" value="1"/>
		<add key="defaultPath" value="0"/>
	</appSettings>
</configuration>